:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --primary-white-color: #ffffff;
  --accent-color: #2196f3;
  --background-color: #2f303a;
}

body {
  background-color: var(--primary-white-color);
  font-family: "Roboto", sans-serif;
}

a {
  color: var(--primary-text-color);
  text-decoration: none;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

/* Header */

.page-header{
  outline: 1px solid red;
  display: flex;
  
}

.nav-box{
  display: flex;
}

.link-logo {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 93px;
  margin-top: 25px;
  margin-bottom: 24px;
}

.logo {
  color: var(--accent-color);
}

.active-page {
  color: var(--accent-color);
}

.site-nav-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  display: flex;
  width: 294px;
  margin-top: 32px;
  margin-bottom: 32px;
  margin-right: 331px;
  padding: 0;
}

.site-nav-link:hover,
.site-nav-link:focus {
  color: var(--accent-color);
}

.site-nav-item {
  color: black;
}

.site-nav-item:not(:last-child){
  margin-right: 50px;
}

.list {
  list-style-type: none;
}

.contact-box{
  display: flex;
}

.contact-list{
  display: flex;
  margin-top: 32px;
  margin-bottom: 32px;
  padding: 0;
}

.contact-list-item:not(:last-child){
  margin-right: 50px;
}

.contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}


/* Main */

.hero {
  background-color: var(--background-color);
}

.hero-title {
  width: 696px;
  height: 120px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 200px;
  margin-bottom: 30px;
  margin-left: 250px;
  margin-right: 350px;
}

.btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.main-title {
  color: rgba(255, 255, 255, 1);
  text-align: center;
}

.benefits-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

.benefits-item {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.title-workers {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.title-worker-item {
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}


/* Footer */
address {
  font-style: normal;
}

.footer {
  background-color: #2f303a;
}

.address {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}

.address-item {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.logo-item {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}

